div.modal {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(#121212, 0.5);
  z-index: 9000;
}

div.modal_content {
  border-radius: 2px;
  width: 100%;
  padding-bottom: 50px;
  margin: 72px 0;
  &.modal-small {
    max-width: 525px;
  }
}

div.modal_banner {
  height: 50px;
  > button {
    display: block;
    margin-left: auto;
  }
}

div.modal_body {
  padding: 24px;
}
