div.crossfader_wrap {
  width: 100%;
  height: 100%;
  top: 0;
}

div.crossfader_img_wrap {
  width: 100%;
  height: 100%;
}

img.crossfader_img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
