.bg-gray-100 {
  background-color: $gray-100;
}

.bg-gray-150 {
  background-color: $gray-150;
}

.bg-gray-200 {
  background-color: $gray-200;
}

.bg-gray-300 {
  background-color: $gray-300;
}

.bg-gray-400 {
  background-color: $gray-400;
}

.bg-gray-500 {
  background-color: $gray-500;
}

.bg-gray-600 {
  background-color: $gray-600;
}

.bg-gray-700 {
  background-color: $gray-700;
}

.bg-gray-800 {
  background-color: $gray-800;
}

.bg-gray-900 {
  background-color: $gray-900;
}

.bg-black {
  background-color: #000;
}

.bg-white {
  background-color: #fff;
}

.bg-primary {
  background-color: var(--foreground-color);
}

.bg-accent1 {
  background-color: var(--accent1-color);
}

.bg-accent2 {
  background-color: var(--accent2-color);
}

.bg-success {
  background-color: var(--success-color);
}

.bg-warning {
  background-color: var(--warning-color);
}

.bg-danger {
  background-color: var(--danger-color);
}

.bg-foreground {
  background-color: var(--foreground-color);
}

.bg-background {
  background-color: var(--background-color);
}
