$gray-100: #f8f9fa;
$gray-150: #f2f3f6;
$gray-200: #e9ebef;
$gray-300: #d1d3db;
$gray-400: #ced2da;
$gray-500: #aeafbd;
$gray-600: #6a6e7a;
$gray-700: #494e57;
$gray-800: #42454b;
$gray-900: #121212;
