.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

.pos-fill {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pos-h100 {
  left: 0;
  right: 0;
}

.pos-v100 {
  top: 0;
  bottom: 0;
}

.pos-top {
  top: 0;
}

.pos-bottom {
  bottom: 0;
}

.pos-left {
  left: 0;
}

.pos-right {
  right: 0;
}
